/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.jumbo_center {
  width: 85%;
  margin: 0 auto;
}

.main_center {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.underline {
  text-decoration: underline;
}

/* HEADER */

header {
  height: 80px;
  line-height: 80px;
  background-color: white;
}

#lista_nav1 li {
  list-style-type: none;
  display: inline;
  margin: 30px;
  margin-bottom: 20px;
  vertical-align: middle;
}

#lista_nav2 li {
  list-style-type: none;
  display: inline;
  margin: 30px;
  margin-bottom: 20px;
  vertical-align: middle;
}

#lista_nav1 {
  float: left;
  display: table;
  margin: 0 auto;
  margin-left: 60px;
}

#lista_nav2 {
  float: right;
  display: table;
  margin: 0 auto;
  margin-right: 45px;
}

.logo {
  float: left;
  margin-left: 30px;
}

.logo a {
  display: inline-block;
}

.logo img {
  vertical-align: middle;
}

.btn {
  display: inline-block;
  background-color: #0061fe;
  padding: 16px 32px;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  color: rgba(49, 97, 224, 255);
}

.btn {
  margin-right: 30px;
}

/* Bottoni colonne */

.btn_col {
  display: inline-block;
  background-color: #0061fe;
  padding: 16px 32px;
  color: #fff;
  text-decoration: none;
}

.btn_:hover {
  text-decoration: none;
  color: rgba(49, 97, 224, 255);
}

#inizia {
  float: right;
}

#inizia .btn {
  padding: 9px 23px;
  background-color: #0061fe;
  font-size: 20px;
  color: white;
  display: inline;
}

#inizia .btn:hover {
  color: rgba(49, 97, 224, 255);
}

/* SECTION 1 */

.jumbotron {
  background-color: #b4c8e1;
  height: 0 auto;
  padding: 120px 0;
}

.center {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 97px;
}

.jumbotron p {
  font-size: 20px;
}

.jumbotron .colsx {
  float: left;
}

.jumbotron .coldx {
  float: right;
}

.jumbotron p {
  width: 471px;
  padding-top: 60px;
}

/* BOTTONE prova gratuita */
.prova {
  margin-top: 45px;
}

/* ARROW */

#arrow {
  font-size: 73px;
}

#jumboimg {
  width: 820px;
  height: auto;
  padding-top: 60px;
}

/* SECTION 2 */

.title_h2 {
  font-size: 50px;
  margin-top: 80px;
}

#radio {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

/* COLONNE */

.side_element {
  width: calc(100% / 3 - 30px);
  min-height: 1200px;
  float: left;
  margin-top: 40px;
  border: solid 1px gray;
  margin-left: 30px;
}

.col_title {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.barra {
  border: solid 1px gray;
  margin-top: 10px;
}

.titolo_colonna {
  font-size: 34px;
  margin-top: 40px;
  margin-left: 30px;
}

.col_text {
  margin-top: 20px;
  margin-left: 30px;
  line-height: 30px;
  font-weight: 600;
}

.gray {
  color: gray;
}

.prova_col .btn_col {
  padding: 9px 80px;
  background-color: #0061fe;
  font-size: 17px;
  color: white;
  display: inline;
  margin-left: 29px;
}

.prova_col {
  margin-top: 60px;
}

.col_text hr {
  margin-top: 30px;
  color: gray;
  width: 60px;
  margin-bottom: 60px;
}

.list_title {
  font-size: 20px;
}

/* LISTA COLONNE */

.list_col {
  margin-top: 30px;
  line-height: 55px;
  margin-left: 20px;
  list-style-image: URL("../img/check-solid.svg");
}

/* SECTION TEAM TABLE */

#team_table {
  width: 100%;
  min-height: 300px;
  float: left;
  margin-top: 40px;
  border: solid 1px gray;
}

.colsx {
  float: left;
}

.coldx {
  float: right;
}

#team_table h2 {
  margin-top: 45px;
  font-size: 45px;
  margin-bottom: 30px;
  margin-left: 20px;
}

#team_table strong {
  margin-left: 20px;
  margin-bottom: 45px;
}

#text_enterprise {
  margin-left: 20px;
  margin-top: 45px;
}

/* SEZIONE 3 IMMAGINE E TESTO */

.section3 {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

.section3 img {
  width: 700px;
  height: auto;
  margin-top: 150px;
}

.section3 #text_col_dx {
  height: auto;
  margin-top: 200px;
  font-size: 20px;
}

#text_col_dx p {
  margin-top: 40px;
}

/* BOTTONE PARTNER */

.btn_partner {
  display: inline-block;
  background-color: white;
  padding: 16px 32px;
  color: black;
  text-decoration: none;
  border: solid 1px black;
  margin-top: 40px;
}

/* CASELLE IMMAGINI E TESTO */

.caselle h2 {
  margin-top: 70px;
  font-size: 47px;
}

.side_element2 {
  width: calc(100% / 3 - 30px);
  min-height: 600px;
  float: left;
  margin-top: 40px;
  margin-left: 30px;
}

.img_caselle {
  width: 412px;
  height: auto;
}

.caselle h3 {
  font-size: 34px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.caselle p {
  font-size: 17px;
}

#team_dropbox h2 {
  margin-top: 160px;
  font-size: 50px;
}

#link_team {
  margin: 20px 0;
}

/* SEZIONE AZIENDA */

#azienda {
  background-color: #b4c8e1;
  height: 300px;
}

#azienda h2 {
  color: hsl(336deg 85% 21%);
  font-size: 45px;
  margin-top: 100px;
}

.btn_azienda {
  display: inline-block;
  background-color: white;
  padding: 16px 32px;
  color: black;
  text-decoration: none;
  border: solid 1px black;
  margin-top: 100px;
}
/* FOOTER */

footer {
  background-color: black;
  color: white;
  height: 480px;
}

/* LISTA */

.liste {
  margin: 0 auto;
  float: left;
  margin-left: 167px;
}

.liste h3 {
  margin-top: 30px;
  padding-top: 50px;
  margin-bottom: 20px;
}

.liste ul {
  margin-bottom: 100px;
}

.liste li {
  color: black;
  margin-bottom: 10px;
}

li span {
  color: white;
}

/* LINGUE */

#lingue hr {
  color: white;
  margin-bottom: 40px;
  width: 6%;
  margin-left: 158px;
}

#lingue span {
  color: gray;
  cursor: pointer;
}

.fa-globe-asia {
  color: gray;
  font-size: 25px;
  margin-left: 170px;
}
